@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Slider styles */
.slick-prev:before,
.slick-next:before {
  color: #3B82F6; /* Tailwind blue-500 */
}

.dark .slick-prev:before,
.dark .slick-next:before {
  color: #020b16; /* Tailwind blue-300 */
}

/* Add these styles to your existing globals.css file */

.slick-dots li button:before {
  color: #14b8a6 !important; /* Tailwind teal-500 */
  font-size: 12px !important;
}

.slick-dots li.slick-active button:before {
  color: #0d9488 !important; /* Tailwind teal-600 */
}

/* Add these styles to your existing globals.css file */

.hamburger-icon {
  position: relative;
  width: 24px;
  height: 2px;
  background-color: currentColor;
  transition: background-color 0.3s ease;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.3s ease;
}

.hamburger-icon::before {
  top: -8px;
}

.hamburger-icon::after {
  bottom: -8px;
}

.hamburger-icon.open {
  background-color: transparent;
}

.hamburger-icon.open::before {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-icon.open::after {
  transform: translateY(-8px) rotate(-45deg);
}
